[2013-05-23 12:27] cfoellmann opened #2 "Change meta box title"
For non-English speaking users a title change for the meta box would be nice.

Problem: https://github.com/markjaquith/page-links-to/blob/master/page-links-to.php#L141
If you just make the title `'Page Links To'` translatable `__('Page Links To', 'page-links-to')` and you add this sting to the translation, the title of the plugin on the plugins page will be translated, too. I dont think that is de

[2013-05-26 04:37] markjaquith opened #4 "Respect the "Open link in new window" setting no matter where the link appears."
Currently, the "Open link in new window" setting only works within nav menus `wp_list_page()` and then within the post loop. But there are other places it can appear, such as in plugin or theme custom output. It is a **very common complaint**.

New proposed strategy: keep track of each time that one of the URLs is replaced in a `get_the_permalink()` filter callback, and then in the footer, do new

[2013-05-27 19:30] #4 closed, assigned to markjaquith

[2013-05-27 19:32] #2 closed, assigned to nobody

[2013-10-08 16:57] markjaquith opened #10 "FLIP THE HELL OUT when something else loads an unexpected version of jQuery"
I'm **really** sick of fielding support requests for sites where some dumb theme or widget or plugin has loaded a 4-year-old version of jQuery. Considering adding code to detect this. But what do I do if I detect it? Do an `alert()` on load? Would be super annoying, but then again loading the wrong version of jQuery is a pretty serious problem.

[2013-11-06 18:05] allancole opened #11 "The 'page-links-to-post-types' filter returns an error."
Hi,

I have a Custom Post type that I’d like to include the PLT plugin while excluding all other post types.

This is the filter I’m using:

[code]

And it returns this error:

[code]

I also get the same error when I use the filter copied from the plugin, itself:

[code]

Any ideas what might be causing this?

Thanks!

[2013-11-16 19:27] #11 closed, assigned to nobody

[2013-11-16 20:02] #10 closed, assigned to nobody

[2013-12-26 23:48] markjaquith opened #13 "Support multi-lingual redirects"
Many people have written me asking for support for language-specific redirects, when using multi-language plugins. There seems like enough demand to justify it.

Tasks:
- [ ] figure out what the most popular ML plugins are
- [ ] determine which of those I want to support
- [ ] when one of them is active, add the ability to add additional redirects that are tied to a language
- [ ] on load and redi

[2014-02-09 18:44] VBog opened #14 "Russian translation for v.2.9.3"
Hi, Mark!
You can download Russian translation of your plugin from my site: http://bogaiskov.ru/page-links-to/

Regards,
Vadim

[2014-08-08 20:36] nurenu opened #15 "Redirects in RSS Feeds"
Plugin works great to send visitors to external links but when the link shows up in an RSS feed, the links break. If mysite.com's post linked to someothersite.com/article then in the RSS feed, the link goes to mysite.com/article.
Has anyone else experienced this?

[2015-01-02 16:07] LabLover opened #21 "Enhancement Request"
Would there be anyway to allow for assignment of a CSS class to the redirect link?

For Example

Current link
[code]
Link with class
[code]
This will enable the ability to open posts in a Thickbox or Fancybox directly from a list of posts in a megamenu.

Is there a realistic possibility this enhancement could be incorporated?

Thanks very much for this fine plugin!

[2015-03-12 18:37] markjaquith commented on #21
There's no clean way for me to do this, as I only have control over the URL. I don't have access to manipulate classes or other HTML attributes. I'm just filtering the URL.

[2015-03-12 18:37] #21 closed

[2015-03-12 18:41] #14 closed

[2015-03-12 18:42] markjaquith commented on #15
No new information.

[2015-03-12 18:42] #15 closed

[2015-03-12 18:51] markjaquith opened #22 "Find a better way of opening links in a new tab"
I'm tired of having to support themes that load async content or something else and thus skip being noticed by PLT and links don't open in a new tab when specified.

The issue is that all I have control over is the URL output. I can't add a class or anything. And if I do something clever like use a fake protocol or add a URL parameter, that will interfere with SEO for that URL.

One option is to s

[2015-03-12 19:47] markjaquith commented on #22
* [ ] need to clean up the inline JS stuff.

[2015-03-17 18:11] jb510 commented on #22
The object buffer is interfering with WP Retina 2X's object filter for using picturefill.js for retina images.  Two object buffers trying to run at the same time.  I told Jordy, guessing he might chime in here.

Took me a while to figure out because I had no idea page-links-to even ran JS...

I know "decision over options" but I have no need to force links to open in a new window, maybe this shoul

[2015-03-17 18:15] jb510 commented on #22
Uh, note...  I think I was really unclear above...  The issue I'm having is with the object buffer cloning jQuery to jQueryWP.  Which seems to be so that you can trust jQuery is available to your new tab code.

https://cloudup.com/cRZ9ZWgzGTw

[2015-03-20 05:59] markjaquith commented on #22
`ob_` stands for "output buffer”, not "object". ☺

What is probably happening is overlapping sandwiches. I implemented it the way I did so that my ob would only apply to the `<head>` section. But if that is causing issues I might just have to ob the whole page.

[2015-03-20 06:06] jb510 commented on #22
I mistype that a lot...  :)

He's trying to get "the whole page", which he actually needs to do (wish WP had a filter) but he is starting at wp_head and ending at wp_footer.  I prefer the narrow focus of yours.

It's just seems unnecessary to me these days, theme devs seem to be a lot better about respecting jQuery...  or something that could be optional.  Perhaps a checkbox for "jQuery compatibil

[2015-03-27 04:24] markjaquith opened #23 "Prevent jQuery from being overwritten"

[2015-05-13 19:41] gmariani opened #24 "ob_end_flush Error"
There was an error with WordFence caching and your plugin. Your plugin was throwing this error when WordFence created a cached page.

[code]

I resolved it by changing this on line 148:

[code]

Can you please make a update to your program to get this fixed? Thanks.

[2015-05-22 20:48] michaelaris commented on #22
Yep, I'm having this issue with my Jobify Theme running WP Job Manager... my listings aren't opening in a new tab.

[2015-05-26 19:56] MadtownLems opened #25 "Only show MetaBox on "Public" post types?"
It looks like you're defaulting to using post_types that have 'show_ui' true.  I was wondering if you thought about also adding the restriction that they must also be 'public' post types.

I'm struggling to come up with a use case where I'd want to use page_links_to for a non-public post type - and am actually wondering if it's even possible!

I'm currently using the page-links-to-post-types filte

[2015-07-07 01:30] mrjarbenne opened #26 "When Activated, Search Breaks on Gazette Theme"
This theme https://theme.wordpress.com/themes/gazette/, which is available to download and run on .org sites, has a Search button and a Responsive Menu Hamburger, that don't trigger when this plugin is active.
Sorry I don't have the chops to see what the issue is; thought I would report it here anyway just in case others are experience similar behaviour beyond compatibility with a random theme.

[2016-01-20 17:21] davemcphee opened #29 "Override HTTPS linking"
When I access my wordpress site in http, the Page Links To url works as expected - it redirects to the set custom url, http://theSpecificiedUrl

When I access the main site in https, the Page Link To url is automatically changed to link to https://theSpecificiedUrl

I understand this is probably working as designed, is there a way to override this? A way to have that particular link always point t

[2016-01-25 16:34] stevecarlton opened #30 "Custom URL Not Available"
I have seen this issue randomly (along with several other Admins) where the custom URL field does not show even when the correct radio button is selected.

The issue seems to be related to specific posts as I can see the custom URL field on one post and it is missing on another. Tried different browsers and different admin user/computers and same result. Any ideas?

Latest version of plugin instal

[2016-03-02 16:36] josephfusco commented on #30
+1 Can confirm this issue

[2016-03-03 01:33] stevecarlton commented on #30
Joseph,

One workaround I identified is to first save the page without a category, refresh page and then you can set a custom url and assign a category.

Seemed to do the trick but we still experience the issue and I believe it is related to the category selection.

Steve

[2016-06-08 21:51] markjaquith opened #31 "Grab excerpt and image using Open Graph"
We can update the WordPress excerpt and featured image by using Open Graph to get that information.

Idea comes from Dan Scott via e-mail.

[2016-09-13 04:20] thule179 opened #32 "Links not open in new tab"
Even though "Open this link in a new tab" is selected, the link wouldn't open in a new tab :'(

[2017-01-25 16:50] apmatthews opened #33 "Change default cws_links_to value to placeholder text?"
The meta box auto populates the cws_links_to field with "http://" when the field is empty. I understand this is a helpful reminder for people to include http://, but it always has to be deleted unless you are manually typing out an absolute URL. We have had a few cases of someone copying and pasting a full URL (which will typically already includes the protocol) and forgetting to delete the defaul

[2017-01-29 20:42] gordonreedjones commented on #32
same issue, though it only occcurs when the used in conjuction with pagination. i have a site where blog posts load on page scroll. those posts (title, image, excert, date) that load initially work fine (title links offsite, new window). but the posts that load on scroll do not open in new window, even though they are set to do so.

[2017-02-24 02:38] gmariani opened #34 "Remove inline code"
Can you please convert this to a queue-able script? It messes up with caching plugins and jQuery when it's deferred.

[2017-02-24 02:41] gmariani commented on #34
Well either that or don't rely on jquery to select the elements. I mean, yo use jquery to check if it's inArray, the body is clicked and if attributes are set. Should not be difficult to remove that dependency

[2017-02-27 16:03] webmandesign opened #35 "Slovak translation"
Hi Mark,

I've added Slovak translation to the plugin via https://translate.wordpress.org/projects/wp-plugins/page-links-to

Please [ask Polyglots team](https://make.wordpress.org/polyglots/tag/editor-requests/) to add it in.

More on how to get the plugin into Polyglots at:
* https://make.wordpress.org/polyglots/handbook/rosetta/theme-plugin-directories/#sample-post
* https://make.wordpress.org/m

[2017-03-01 17:37] pbiron opened #36 "metabox title and notice text should use "...{$post_type_obj->labels->singular_name}..." instead of "...Page...""
Since Page Links To works for all post_types for which `'show_ui' => true` (and not just pages), the title of the metabox and the text in the notice should use the `singular_name` label of the post_type in question, instead of always using "...Page...", as it could be "disconcerting" to admin users who are editing a "Movie", etc and see something on screen that mentions "Page".

Attached is a patc

[2017-03-01 17:46] markjaquith commented on #36
Hmm. There are a few issues here. One, is that this sort of compound title can't be translated. You can't pass a dynamic value to a translation string, as we don't know what the value will be until runtime. And if you use a token, you'll get oddities in certain languages where the rest of the sentence will have to change based on the gender of the subject of the sentence.

Next, there is the whole

[2017-03-01 17:46] #36 closed

[2017-03-01 17:55] pbiron commented on #36
I hadn't thought about the translation aspect.

OK, it was just a thought.

[2017-04-23 23:28] CynthiaBeauty opened #37 "Problems in Setting Up Twitter Card"
I love this plugin because I run a news aggregator site that uses algorithms to pull together all the relevant articles around a specific development. I then write custom summaries based on all the articles, but assign the best article as the lead and give it the page-links-to link.

However, in trying to set up a twitter card for my blog posts, I need to point to a permalink that references my sp

[2017-05-29 12:54] xrobachok opened #38 "Ukrainian translation suggestion"
Hi Mark,

I've added [Ukrainian translation](https://translate.wordpress.org/projects/wp-plugins/page-links-to/stable/uk/default) to your plugin via https://translate.wordpress.org/projects/wp-plugins/page-links-to

Please [ask Polyglots team](https://make.wordpress.org/polyglots/tag/editor-requests/) to add it in.

More on how to get the plugin into Polyglots at:

- https://make.wordpress.org/pol

[2017-11-30 12:49] gnosisgithub opened #39 "Missing new-tab.js"
Both distributions:
https://github.com/markjaquith/page-links-to/t
https://wordpress.org/plugins/page-links-to/
missing the following file:
.../wp-content/plugins/page-links-to/js/new-tab.js

So for example:
HTTP404: NOT FOUND - The server has not found anything matching the requested URI (Uniform Resource Identifier).
(XHR)GET - http://.../wp-content/plugins/page-links-to/js/new-tab.js

[2017-12-04 18:15] markjaquith commented on #39
The file is `new-tab.min.js`

https://github.com/markjaquith/page-links-to/blob/242cd2a7a36bcb37a371861208b696f4443c08f5/page-links-to.php#L152

Is it possible that your plugin install has an older version of `page-links-to.php` ?

[2017-12-04 18:17] gnosisgithub commented on #39
absolutely not. I actually re-downloaded from Wordpress repo (do your two versions (github and WP match?) . To resolve, I created a fake.

[2017-12-04 18:26] markjaquith commented on #39
I'm not sure why anything is trying to load this file. Do you have a caching plugin like W3 Total Cache that is doing minification/concatenation?

[2017-12-04 18:35] gnosisgithub commented on #39
My theme (basic themify) performs minification:
https://themify.me/themes/basic

[2018-02-16 08:16] tdreiner commented on #30
I can confirm that, too. I can choose custom URL but I cannot see any text field for the URL. The trick above did not work for me.

[2018-03-06 14:51] markjaquith commented on #39
Yeah, so that's probably the issue.

[2018-03-06 14:51] #39 closed

[2018-03-06 14:55] #33 closed

[2018-03-06 14:56] markjaquith commented on #33
Good idea! Done.

The `placeholder` attribute didn't have good browser support when I first wrote this. (Wow, that was a long time ago!)

[2018-03-06 14:57] markjaquith commented on #34
Yeah, I agree that the jQuery dependency should be removed. It also causes problems when some theme enqueues its own (really old) version of jQuery.

[2018-03-06 15:16] markjaquith commented on #37
@CynthiaBeauty The next version of the plugin will have a function called `plt_get_original_permalink()` which will return the original permalink.

What are you using for Twitter cards? We might need to add filters to override the URL that it produces.

[2018-03-06 15:20] markjaquith commented on #30
@tdreiner with a current version of WordPress? 4.9.x ?

[2018-03-06 16:01] CynthiaBeauty commented on #37
LOL! I ended up hiring a developer to help me figure out a new system.

[2018-03-06 17:51] markjaquith commented on #37
Ha. Well, I'd meant to do this anyway. Just dusting off some very old tickets. Thanks for the reply!

[2018-03-06 17:51] #37 closed

[2018-06-05 18:00] markjaquith commented on #25
@MadtownLems It seems that it's a bit more complicated than that...

https://gist.github.com/jeremyfelt/2625350

Yikes.

[2018-06-05 18:03] markjaquith opened #40 "Remove jQuery as front-end dependency"
This will resolve:

#32, #34, #22, #24, #23 and probably #26

[2018-06-05 19:12] #22 closed

[2018-06-05 19:12] #23 closed

[2018-06-05 19:12] #24 closed

[2018-06-05 19:12] #26 closed

[2018-06-05 19:12] #32 closed

[2018-06-05 19:12] #34 closed

[2018-06-05 19:12] #40 closed

[2018-06-05 19:37] markjaquith commented on #29
I cannot duplicate this issue.

1. My site URL: `https://plugins.test/`
2. Page links to: `http://google.com/` (**no** "s")
3. Page link in nav menu: `http://google/com/` (**no** "s" added)

Please reopen if you're still experiencing this issue and give me some more information on how to reproduce it.

[2018-06-05 19:37] #29 closed

[2018-06-05 19:49] markjaquith commented on #35
I've made this request. Thanks!

[2018-06-05 19:49] #35 closed

[2018-06-05 19:49] markjaquith commented on #38
I've made this request. Thanks!

[2018-06-05 19:49] #38 closed

[2018-06-05 19:50] markjaquith commented on #30
Any of you still experiencing this issue with the latest version? `2.10.0`

[2018-06-07 18:21] roxlife opened #41 "IE Error SCRIPT438: Object doesn't support property or method 'from'"
SCRIPT438: Object doesn't support property or method 'from'
File: new-tab.min.js, Line: 2, Column: 130

I hate Internet Explorer!

[2018-06-08 02:52] markjaquith commented on #41
Doh.

<img width="511" alt="screen shot 2018-06-07 at 10 51 23 pm" src="https://user-images.githubusercontent.com/353790/41136685-5c55fe28-6aa5-11e8-89c5-866ba7226a0c.png">

I shall research what Babel incantation I have to babel to remedy this. :smile:

[2018-06-08 03:37] roxlife commented on #41
Thanks so much dick.

On Thu, Jun 7, 2018, 9:52 PM Mark Jaquith <notifications@github.com> wrote:

[2018-06-08 03:50] #41 closed

[2018-06-08 04:01] markjaquith commented on #41
Uh. Is there some missing punctuation there? I can't fathom why you'd be calling me a dick.

[2018-06-08 12:13] roxlife commented on #41
Lol. I'm sorry. I think "dick" was a product of fat thumbs, autocorrect and
my slight inebriation at that moment. It was supposed to say, "Thanks so
much Mark."
Sorry about that!

On Thu, Jun 7, 2018, 11:01 PM Mark Jaquith <notifications@github.com> wrote:

[2018-06-08 12:26] markjaquith commented on #41
Ha, well — cheers.

Version `2.10.2` should fix this issue.

[2018-06-16 15:14] soljohnston777 opened #42 "How can I do this with PHP?"
How can I use your function to change a post id into a redirect link with a PHP function (basically skipping the user interface)?

This is a great plugin, Thank you!

Would I use these functions?
[code]

[2018-06-18 20:40] markjaquith commented on #42
Yep. In 2.11.1, you can use `CWS_PageLinksTo::get_instance()->set_link( $post_id, $url );`

[2018-06-18 20:40] #42 closed

[2018-06-20 22:08] markjaquith opened #43 "Link to "nothing""
Sometimes people want, for various reasons, links to do nothing. They can just put in `#` but we could handle this more elegantly with a JavaScript `onClick` event.

[2018-06-20 22:10] markjaquith commented on #13
Handling this in an add-on.

[2018-06-20 22:10] #13 closed

[2018-06-20 22:11] markjaquith commented on #31
Handling this in an add-on.

[2018-06-20 22:11] #31 closed

[2018-06-20 22:14] markjaquith opened #44 "Show badge in post list that indicates post is pointed elsewhere"

[2018-06-20 22:15] markjaquith opened #45 "Make pretty url creation more obvious"
Idea: Add a Pages menu item "Add Page Link" that presents a super simple modal UI:

[code]

[2018-06-20 22:19] markjaquith opened #46 "More hooks"
- [x] #17
- [x] `plt_init`
- [ ] Various UI hooks

[2018-06-22 15:32] markjaquith commented on #44
(W) icon links to the old/original/default URL for the content. The link icon links to the new URL.

![screen shot 2018-06-22 at 11 30 03 am](https://user-images.githubusercontent.com/353790/41785163-b4da810c-760f-11e8-9d3b-ac1f6e9857bf.png)

On hover of the link icon, it displays the URL it is pointing to.

![screen shot 2018-06-22 at 11 30 21 am](https://user-images.githubusercontent.com/353790/

[2018-06-22 15:32] #44 closed

[2018-06-27 21:36] claytoncollie opened #47 "My email"
Hey, I sent you a Google Forms about feature requests and didnt give you my email to beta test.  Thanks for building this plugin and keeping it active!

clayton.collie@contentpilot.com

[2018-07-05 12:47] konsumkunst opened #48 "Link to existing posts/pages"
Hey and thanks for this great plugin. Do you think its possible to add an extra option/dropdown to link to existing post/posttypes and pages? Just as the linkoption in WYSIWYG does?
Best, Mike

[2018-07-06 13:06] ciacciojon9999 opened #49 "Version 2.1.1 gives 404 errors when configured on page"
Every page using this plugin to redirect gives a 404 error when you navigate to the custom URL.

[2018-07-06 13:32] markjaquith commented on #49
Odd. Cannot reproduce that issue. What do pages show if you **don't** point them to an external URL? Page Links To doesn't do anything special here... it just hooks in as the page is loading and redirects. It doesn't itself set up the rewrite rule for the page — WordPress itself does that.

[2018-07-06 14:48] #46 closed

[2018-07-10 07:48] panteror opened #50 "Error 404"
Hi,

It's the first time i install your plugin (version 2.11.1). I have error 404 on link set in page link configuration of the article. The new link and old original link not working.

I use wordpress 4.9.6.

The original article : http://www.dowfrance.com/2017/06/presentation-days-of-war/
The page link setting : http://www.dowfrance.com/presentation-days-of-war/

It's deactivate now, i can react

[2018-07-16 01:16] markjaquith commented on #49
Please re-open if you have new information!

[2018-07-16 01:16] #49 closed

[2018-07-16 01:19] markjaquith commented on #50
Hmm. You might be confused about how this works. If you point `dowfrance.com/2017/06/presentation-days-of-war/` to `dowfrance.com/presentation-days-of-war/`, all place where it shows a link will show `dowfrance.com/presentation-days-of-war/`, but that doesn't mean that `dowfrance.com/presentation-days-of-war/` will be a working URL. You have to point your content to a working URL. If you create a

[2018-07-16 01:19] #50 closed

[2018-07-16 01:20] markjaquith commented on #47
Thanks Clayton! We're thinking of starting up a mailing list. Would it be alright if we add you to that?

[2018-07-16 01:22] markjaquith commented on #48
Great idea! I'm going to put that in the next major release. 😄

[2018-07-16 01:30] markjaquith opened #51 "Do not convert the WP preview URL to the destination URL"

[2018-07-16 02:07] claytoncollie commented on #47
for sure!

[2018-07-16 02:07] #47 closed

[2018-07-16 02:07] claytoncollie commented on #47
for sure!

*Clayton Collie*
clayton.collie@gmail.com
214-577-6712

On Sun, Jul 15, 2018 at 8:20 PM Mark Jaquith <notifications@github.com>
wrote:

[2018-07-16 06:55] panteror commented on #50
Thanks, exactly i was confused.

[2018-07-18 20:29] JOyo246 opened #52 "Google Analytics Tracking"
I setup a "page links to" that allows my site to basically be used as a "passthrough" for my visitors to access another websites. I tried using a Google Analytics tracking URL but it doesn't work. Is there a certain way that I can track these URLs?

[2018-07-22 19:01] #45 closed

[2018-07-23 14:26] markjaquith opened #53 "Nonce protection and capabilities checks for quick-add"
see #45

[2018-07-23 16:24] #53 closed, assigned to nobody

[2018-07-24 15:26] lnkbrw opened #54 "3.0.0 upgrade causes error message"
I just updated to the v.3.0.0 plugin this morning, using the built in "Upgrade" function from the Wordpress Plug-ins setting page.

Now my page presents this error in the top of every page.

`Warning: Missing argument 3 for CWS_PageLinksTo::wp_list_pages() in /home/my_blogs_directory_name/public_html/blog/wp-content/plugins/page-links-to/classes/plugin.php on line 650`

I am on WP 4.9.7 using a cu

[2018-07-24 15:31] lnkbrw commented on #54
Thanks so much! :-)

I renamed the plugin folder to page-links-to-3-0-0 and created a new page-links-to folder with the old version, everything is back to normal.

[2018-07-24 15:38] markjaquith commented on #54
Can you upload the code for `Exclude Pages from Navigation 1.9.2` somewhere? I couldn't find it in the plugin directory. I have a hunch that this plugin is calling the `wp_list_pages` filter with two arguments instead of three.

[2018-07-24 15:50] lnkbrw commented on #54
Uploaded .zip to  https://ufile.io/r526y

Thanks!

[2018-07-24 15:55] markjaquith commented on #54
Hmm. That doesn't look like the culprit. In any case, I'll just practice some defensive coding.

Let me know if this version fixes it for you: https://github.com/markjaquith/page-links-to/archive/master.zip

[2018-07-24 20:04] lnkbrw commented on #54
It looks like that copy of 3.0.1 beta 1 works just fine, no error message! Thank you! :-)

[2018-07-24 20:10] markjaquith commented on #54
Great! This will be in the next release.

[2018-07-24 20:10] #54 closed

[2018-07-25 10:30] konsumkuenstler commented on #48
Nice. Thanks! :D

[2018-07-26 13:36] gmariani opened #55 "v3.0.0 Crashes sites"
https://wordpress.org/support/topic/ver-3-0-crashes-wordpress/#post-10530144

[code]

[2018-07-26 22:08] markjaquith commented on #55
Duplicate of #54

Try this version:

https://github.com/markjaquith/page-links-to/archive/master.zip

[2018-07-26 22:08] #55 closed

[2018-07-31 18:43] moodyjive opened #56 "Open this link in a new tab not working in visual composer post grid"
Love the plugin and have used it flawlessly in many Wordpress sites. When using Visual Composer post grid, the custom url will load but ignore the "open this link in a new tab"

[2018-07-31 19:44] moodyjive commented on #56
ACtually

[2018-07-31 19:44] #56 closed

[2018-08-01 03:56] sammyhill1 opened #57 "Optimizing .php file disables the new tab option on posts"
I recently was optimizing my website's database and cleared out an old plugin table "wp_popularpostsummary" in PHPMYADMIN. However, after I dropped that table my links were no longer redirecting readers to new tabs.  It seems as though my "open link in new tab" button is no longer working for our posts.

[2018-08-01 14:07] markjaquith commented on #56
So that VC class forces it to NOT open in a new tab? Like, it's fighting with my plugin?

[2018-08-01 14:09] markjaquith commented on #57
Hmm... that shouldn't have anything to do with Page Links To. Can you show me:

1. a URL that contains a post that is supposed to open in a new tab.
2. Tell me which link on the page it is.

[2018-08-01 14:11] markjaquith commented on #52
So, you are using Page Links To to redirect from YOURSITE/something to OTHERSITE/whatever, but you want to record the YOURSITE/something page view in Google Analytics before redirecting them?

[2018-08-01 15:34] moodyjive commented on #56
Yeah I found a thread on Theme forest and this is what Visual Composer said: "Hello, The issue is due to vc_gitem-link class which does not support opening the link in a new tab. You can target it html custom js to remove the class added to it."

https://codecanyon.net/item/visual-composer-page-builder-for-wordpress/242431/comments?page=917

[2018-08-01 17:30] moodyjive commented on #56
Happy to send you the email privately

[2018-08-01 17:48] markjaquith commented on #56
Ah, thanks. The thread had a website where I could see the code that causes it.

[2018-08-02 13:36] sammyhill1 commented on #57
If you go onto our website, Edisonreport.com, the first articles reads "The MIT Self-Assembly Lab Prints Squishy, Tactile Lighting Fixtures", and it is suppose to redirect onto a separate tab with the URL https://archpaper.com/2018/08/mit-self-assembly-lab-3d-prints-squishy-tactile-lighting-fixtures/#gallery-0-slide-0
Instead, it is opening on the same website which started occurring after I dropp

[2018-08-02 14:37] sammyhill1 commented on #57
The article now reads "Introducing Liquid Printed Light Fixtures" and is the second article listed as of now.

[2018-08-02 19:11] markjaquith commented on #57
I believe your WordPress theme is missing the essential `wp_footer` hook. Page Links To needs to put a little bit of JavaScript in your footer in order to make new-tab links work properly. It's not present on your site, which means you probably don't have a `wp_footer`. This could also be causing issues with other plugins not working!

In your theme's `footer.php` file, you need to put `<?php wp_f

[2018-08-02 19:12] markjaquith commented on #51
Fixed in 3.0.0

[2018-08-02 19:12] #51 closed

[2018-08-02 22:37] sammyhill1 commented on #57
You're the best, Mark;  That one line of code fixed the issue and I cannot thank you enough!

[2018-09-17 07:49] mbnoimi opened #58 "404 issue!"
Hi,

Whenever I try to create a new custom link it points to "This page could not be found!"

![image](https://user-images.githubusercontent.com/284547/45611040-c3d8dc80-ba66-11e8-973f-fa1023855976.png)

![image](https://user-images.githubusercontent.com/284547/45611057-cf2c0800-ba66-11e8-945c-3b433d25747e.png)

![image](https://user-images.githubusercontent.com/284547/45611108-ee2a9a00-ba66-11e8-

[2018-09-17 17:52] markjaquith commented on #58
This plugin doesn't create the destination URL. There needs to be content there already. So "testo" is pointing to "testo-rep", but beacuse "testo-rep" is on your site, and isn't created, WordPress gives you a 404.

[2018-09-17 17:52] #58 closed

[2018-11-09 13:01] billerickson opened #59 "Gutenberg Support?"
When editing a page with Gutenberg, the Page Links To metabox does not appear:

![screenshot](https://d3vv6lp55qjaqc.cloudfront.net/items/1b1o3F383j0A3Y131T1g/Screen%20Shot%202018-11-09%20at%206.57.09%20AM.png?X-CloudApp-Visitor-Id=1470414&v=a5b8b84b)

Editing the same page with the Classic Editor displays the metabox:

![screenshot](https://d3vv6lp55qjaqc.cloudfront.net/items/1K3D3g3d022O3S1m3C06

[2018-11-22 15:00] kinoterapia opened #60 "new tab"
when i press the link it doesnt open in a new tab

[2018-12-18 22:02] dhuyck commented on #59
As a quick patch, I added these three lines to my downloaded version of the plugin in the `is_supported_post_type()` method (added as lines 380-382):
[code]

This will show the metabox properly, but there would be additional work to make the ajax/React code update the notices properly in Gutenberg.

[2018-12-27 07:42] hemmie85 commented on #60
same here, could somebody help us out. Thank you very much....

[2019-01-23 18:01] dhuyck commented on #59
I did a little further work to make admin notices work in WP5+. It's a little raw and optimized to our installation (where we can assume browser up-to-date-ness), but it's working. I have updated the `notify_of_external_link()` function like so:

[code]

[2019-01-29 14:56] markjaquith opened #61 "Set links via REST API"

[2019-02-05 21:00] dhuyck commented on #59
Glad I could contribute! We love the single-purpose-ness of the plugin, and it gracefully solves a need we have in our multisite deployment. We have distributed admin users across our college campus, and a simple, intuitive UI like this one means fewer training hours for our departmental admins and other frequent editors. I look forward to upgrading to a fully-gutenbergged version instead of my ha

[2019-02-08 13:42] niggermany opened #62 "Href link"
I don't know why plugin isn't updating for half year or why author doesn't respond to tens of wordpress support tickets for the same amount of time yet he's very active on twitter and here, but please, if you can, add possibility to leave original URL upon post redirection, to NOT rewrite the href, like https://wordpress.org/plugins/quick-pagepost-redirect-plugin/ can do, but since it's abandoned

[2019-02-08 14:33] markjaquith opened #63 "Show a filtered view of only externally linked posts in wp-admin"
Idea from "jinnetics" on WordPress.org support forums: https://wordpress.org/support/topic/searching-for-all-linked-posts-in-admin/

[2019-02-08 15:11] markjaquith opened #64 "Quick Add enqueues scripts and styles late in the page"
Would be better to enqueue this up in `admin_enqueue_scripts`. Reported here: https://wordpress.org/support/topic/direct-insertion-of-jquery-ui-into-admin-interfering-with-other-plugins/#post-11184431

[2019-02-08 15:11] #64 closed

[2019-02-27 13:16] ramiy opened #65 "Apply only on specific Post Types"
I use this plugin in many sites. Great work @markjaquith !

My problem is that in sites with multiple Post Types I see the metabox in **all** the post types although I need it only in one Post Type.

Any chance the plugin will have a setting page with a list of available Post Types where the user can select in which Post Types the metabox should be displayed?

![wordpress](https://user-images.gith

[2019-03-08 21:19] normprosser opened #66 "Conflict with Elementor, Page Links to, and Wordpress 5.1"
Hi there Mark,

I'm trying to use 'Page Links To' to link to external URL's instead of default post internal url's. It all works, however when I attempt to edit the post with Elementor it will only open in what they call 'Safe Mode.'

Do you know if this would be a conflict between Elementor and Page Links To, or conflict between Page Links To and Wordpress 5.1

Thanks....

Norm Prosser
norm@tips4

[2019-03-25 13:00] HughOMahony opened #67 "Add rel=nofollow option"
It would be great if it were possible for this plugin to set the rel=nofollow attribute in addition to the option to open the target in a new tab. Is this possible for the next update?

[2019-04-10 16:57] Morrus opened #68 "Still allows comments"
Is there a way to still allow comments? As designed, this plugin works perfectly, but it's impossible to let people comment on the link, as they get taken offsite immediately. Is there a way to keep a separate link which shows the original post's page with comments?

(We're using it as a new aggregator, and it's great for that; we're trying to allow each link to have comments).

[2019-04-18 19:25] Triode123 commented on #60
Hi there
Look for the image that has text within it that says: "Past Times" on this page
http://monotwin.co.uk/test-page/

The page links to plugin worked until I started using it in conjunction with WPBakery.  Specifically the link is still redirected, it's just not creating a new tab.

Many thanks for your time

[2019-05-08 18:30] #59 closed

[2019-05-09 16:49] markjaquith opened #70 "When a new tab is checked on the page, a new tab is also applied to the menu"
Reported [here](https://wordpress.org/support/topic/when-a-new-window-is-checked-on-the-page-a-new-window-is-also-applied-to-the-me/).

public static function wp_nav_menu_objects( $items ) {
  $new_items = array();

  foreach ( $items as $item ) {
  if ( isset( $item->object_id ) **&& $item->object == “page”** && self::get_target( $item->object_id ) ) {
$item->target = ‘_blank’;
}

$new_items[] =

[2019-05-09 17:00] markjaquith opened #71 "JS files are not minified"
Reported [here](https://wordpress.org/support/topic/issue-with-your-new-tab-min-js-file/#post-11514405).

[2019-05-09 19:08] billerickson opened #72 "Option to disable "new tab" feature for AMP Compatibility"
On an AMP native website, this plugin generates an error on all pages because it loads new-tab.min.js globally.

![screenshot](https://d16rm1n165bd05.cloudfront.net/items/2W3x1K421U0K3j0r1Q2G/Screen%20Shot%202019-05-09%20at%202.03.36%20PM.png?X-CloudApp-Visitor-Id=78955b2d79e4b4c9650076a91b4db727&v=ffdf2b5d)

It would be great if I could disable the new tab feature with a filter:

[code]

Which wo

[2019-05-09 19:22] claytoncollie opened #73 "Upgrade to 3.1.0 breaks block editor"
Just hit update on 3.1.0, then went to add a new object inside a custom post type. Screen was all white except for the stadnard Gutenberg buttons to recover, copy text and copy error. Tried to deactivate then re-activate the plugin with no luck.

[code]

I'm running WP 5.2 with Genesis 2.10.1 on PHP 7.2 and MySQL 5.6.34

[2019-05-09 20:15] KZeni commented on #73
I've also encountered this issue. I'm also only experiencing it with the Gutenberg editor on a custom post type, currently. As an aside, this custom post type is was implemented using Custom Post Type UI (https://wordpress.org/plugins/custom-post-type-ui/), if that matters.

[2019-05-09 20:59] jvborne opened #74 "Version released today broke Avada's Fusion Builder"
Using the Avada theme the update 3.10 released just now, broke the Avada theme fusion builder. I rolled back to the 3.01 version. All is well for now.

[2019-05-09 21:01] jvborne commented on #74
![image](https://user-images.githubusercontent.com/5993450/57486350-f5174e80-727b-11e9-9b4a-df688c1e3fce.png) Attached warning message

[2019-05-09 21:06] jvborne commented on #74
Happened on three different Avada themed sites

[2019-05-10 01:28] bloukingfisher commented on #74
I can confirm the same happened on an Avada themed site with Fusion Builder for me. We upgraded to Wordpress 5.2 around the same time so thought it might have been that, but eventually tracked it down to the 3.10 version of this plugin.

[2019-05-10 14:42] markjaquith commented on #72
If random script tags are not allowed, and your AMP plugin doesn't have the ability to "take care" of them, don't you run into this issue **all the time**?

[2019-05-10 14:51] markjaquith commented on #73
Working on this right now! I was able to reproduce the issue with a new custom post type I created. For some reason, this CPT is not getting meta passed to it, thus the error about `this.props.meta`.

[2019-05-10 15:15] billerickson commented on #72
Yes, the [official AMP plugin](https://wordpress.org/plugins/amp/) only notifies you of validation errors (ie: JS files loading), it doesn't disable them for you.

This issue does happen often when installing plugins, but is usually not difficult to resolve. If the JS were essential to the plugin, the plugin won't work on an AMP site anyway so I build the feature custom. If the JS isn't essential

[2019-05-10 15:46] markjaquith commented on #73
Annoyingly, if your post type doesn't declare support for `custom-fields`, post meta fields aren't available to Gutenberg.

I think I'm going to solve it by saying that if your post type supports PLT and Gutenberg (`editor`), then you get `custom-fields` support for that post type.

[code]

[2019-05-10 16:14] markjaquith commented on #73
A more surgical method is to hook in really late on `use_block_editor_for_post`:

[code]

With this:

[code]

[2019-05-10 16:25] #73 closed

[2019-05-10 16:26] markjaquith commented on #73
Thanks @claytoncollie and @KZeni! This fixes it, for me. New release will be going out soon, after I take a look at a couple other issues.

[2019-05-10 16:30] markjaquith commented on #72
Okay, that makes sense.

[2019-05-10 16:37] claytoncollie commented on #73
thanks @markjaquith !!!

[2019-05-10 16:58] markjaquith commented on #74
Thanks for the reports @jvborne and @bloukingfisher!

I just verified that the fix for a different issue fixed this issue as well. I'm going to push out a quick bugfix release now. (it will be 3.0.1).

[2019-05-10 16:58] #74 closed

[2019-05-10 16:59] markjaquith commented on #74
Correction: new version will be **3.1.1**

[2019-05-10 17:20] bloukingfisher commented on #74
Thanks for the quick response @markjaquith !

[2019-05-13 19:26] KZeni commented on #73
I've checked it out in the 3.1.1 version update, and things are looking better for me now. Thank you!

As an aside, it took a moment to realize it's now labelled as "Custom Permalink" as an inline attribute instead of "Page Links To" being a more formal section. Might be good to get some screenshots updated on the WP.org plugin listing to show where this is now found in the new editor. Also, I did

[2019-05-15 11:08] cschilcher opened #75 "Page Links To doesn’t work on the English version of my page"
I used the Page Links To plugin to link a gallery widget in my footer so when you click on the picture, another one opens. For the original site (in German), everything worked but on the English version, the plugin does nothing. I use the plugin WPML to translate the website. How can I solve this issue?

[2019-05-17 14:38] pcdoc2010 opened #76 "Error when posting page"
When posting on WP 5.2, I get this error:
TypeError: Cannot read property '_links_to' of undefined
    at LinksTo.getUrl (http://ask/wp-content/plugins/page-links-to/js/gutenberg.min.js?ver=3.1.1:53:27)
    at LinksTo.getDisplayUrl (http://ask/wp-content/plugins/page-links-to/js/gutenberg.min.js?ver=3.1.1:60:16)
    at LinksTo.render (http://ask/wp-content/plugins/page-links-to/js/gutenberg.min.js

[2019-05-29 16:46] claytoncollie opened #77 "Link to attachment from Media Library"
Hi Mark, I am getting a feature request from my clients to easily link to an item from the media library such as a PDF, vcard, word doc, etc.

Do you have plans on adding this functionality in the future or would you be open to a PR with this code in it?

I was thinking something very simple such as a hyperlink right below the url text field that opens the media modal, and when you select an item,

[2019-06-08 15:55] ZimmermannLeon opened #78 "Can't edit in Customizer"
Hello,

i use the Theme Hestia Pro from ThemeIsle.
Since i added your plugin i cant edit the slides in the theme customizer.
Can you please help me?

Best Regards
Leon

[2019-06-10 18:21] hazuremon commented on #76
Came across this same error on custom post type where the post cannot create new custom permalink or update existing permalink. For existing custom permalinks, the option was not selected nor the custom link was in the input box.

Was running Page Links To 3.1.1 with WP Version 5.2.1

Currently able to add/update permalink by downgrading the plugin back to 3.0.1

[2019-06-19 20:18] curiopraxis commented on #52
That's what I'd like to do!  :)

[2019-06-20 09:58] shokkky8808 opened #79 "I does not work with WP 5.2.2"
Since WP last update link to does not allow to either make changes in an existing URL, or to add a completely new one in a new page.

[2019-07-02 12:22] fsav99 opened #80 "Page Links to disappeared"
Page links to disappeared from my posts.  The plugin is still installed and up to date.

[2019-07-03 02:30] AJB99 opened #81 "Page Links To Disables Text tab in Classic Editor"
Hi there,

I've run into an issue where users with a role lower than "Editor" cannot access the Text tab of the Classic Editor due to a bug with this plugin.

When I disabled the Page Links To plugin, the Text tab in the classic editor works just fine.

Here's the error I'm seeing in my console:

[code]

[2019-07-03 02:34] AJB99 commented on #81
I've been able to determine that this bug was introduced in version 3.1.1.

[2019-07-17 10:48] mrleemon opened #82 "pltVars is not defined"
The latest version of the plugin (3.1.1) throws the following error on customizer pages in WordPress 4.9.10:

[code]

[2019-07-17 20:53] sawbo99 commented on #80
I have a similar problem.  Running WP 5.2.2   Just installed PageLinksTo 3.1.1
On Pages menu I get the additional option to "Add Page Link", and it works fine.
But on Posts there is no new option.  Nor does anything appear when creating/editing a post

Pages Menu Image
![image](https://user-images.githubusercontent.com/53020867/61410965-3f9cf300-a8dd-11e9-96bb-e20e95fe829e.png)

Posts menu image
!

[2019-07-20 11:03] mrleemon commented on #82
In case anyone is interested, I "fixed" this changing line 309 from:

`if ( current_user_can( 'edit_posts' ) ) {`

to:

`if ( !is_customize_preview() && current_user_can( 'edit_posts' ) ) {`

[2019-07-22 19:00] elsonponte commented on #82
Just confirming that I am having the same issue in customizer and it is preventing layout changes to be saved. A permanent fix for this would be great.

Thanks

[2019-07-23 21:23] #82 closed

[2019-07-23 21:24] markjaquith commented on #82
Thank you all. Pushing out version 3.1.2 with a fix for this.

[2019-07-24 18:50] hazuremon commented on #76
Just test it with latest version of Page Links To v3.1.2, but still experiencing the same error with custom post type.

`TypeError: Cannot read property '_links_to' of undefined
    at LinksTo.getUrl (https://[URL]/wp-content/plugins/page-links-to/js/gutenberg.min.js?ver=3.1.2:53:27)
    at LinksTo.getDisplayUrl (https://[URL]/wp-content/plugins/page-links-to/js/gutenberg.min.js?ver=3.1.2:60:16)

[2019-07-30 19:57] KZeni opened #83 "Quick Add JS Conflict with MetaSlider Pro & Possibly Others"
I went to add a YouTube slide via MetaSlider Pro. This involves opening the media library popup and then going to the YouTube item on the left. This then loads `/wp-admin/media-upload.php?chromeless=1&tab=youtube` via an iframe.

Unfortunately, it appears that quick-add.min.js adds itself to this iframe's content while `window.pltVars` hasn't been set for the page in the iframe. This results in th

[2019-07-30 20:13] KZeni commented on #83
Actually, I'm seeing
[code]
is part of the first `// Copy to clipboard.` code block in `js/quick-add.min.js`, but it then isn't in the separate `// Quick Add.` code block which is then encountering this error.

So another possible fix would be to add
[code]
to the start of the `// Quick Add` block.

I've done the latter and I can confirm that this resolves the conflict with MetaSlider Pro and addi

[2019-07-30 20:18] KZeni commented on #83
I could propose a PR with a fix, but I figured it'd be best for you to choose the preferred fix and implement it in a quicker & simpler fashion (I don't have a JSX compiler setup at the moment [or at least one that matches this plugin's setup], etc.)

[2019-08-02 14:24] TwisterMc opened #84 "Page Links To & Gutenberg"
In the classic editor, _Page Links To_ is in its own meta box at the bottom of the post with a title of _Page Links To_.

In Gutenberg, it's tied into the _Status & Visibility_ panel and labeled _Custom Permalink_. This is confusing for clients as _Custom Permalink_ sounds like they get to change the WordPress post's permalink as they're use to doing when in fact their redirecting their users away

[2019-08-02 14:30] TwisterMc opened #85 "Gutenberg AMP / Page Links To intertwined."
If we choose not to make the updates in #84, I'd like to let you know that when the [AMP](https://wordpress.org/plugins/amp/) plugin is enabled on a site, it inserts itself between the _Custom Permalink_ option and the URL & _Open in a new tab_ option.

<img width="269" alt="Screen Shot 2019-08-02 at 9 27 50 AM" src="https://user-images.githubusercontent.com/46997/62377167-e8fffd80-b507-11e9-875d-

[2019-08-08 20:23] srdesigns commented on #76
Having same issue myself - @hazuremon by chance are you using Elementor or Jupiter X as the theme? Trying to identify if the theme or that plugin are the cause as there is another bug listed saying Elementor has an issue.

[2019-08-09 22:49] hazuremon commented on #76
No, I am on a custom theme.

[2019-08-11 15:25] Jetroid opened #86 "Relative links base url"
Hi @markjaquith,

I'm redeveloping an old wordpress site for a client, and I want to keep some of their page URLs working (eg /?page_id=239) but link them to new pages that I'm working on at pretty URLs (eg /mynewpage). I'm trying to use Page Links To to accomplish this.

In my development environment, I navigate to `http://localhost/mysitename/` to see the homepage (as I have other things inside

[2019-08-12 15:13] nachovz commented on #83
Something similar happens in my current installation: WP 5.2.2, Classic Editor. In my particular case, it only happens to any user role **but** the Administrator. I hope this helps.

[2019-08-13 21:05] arcticmouse commented on #83
the same issue happens for me in role Author. i don't use metaslider pro but i do use classic editor.

[2019-08-17 10:43] #86 closed

[2019-08-29 13:38] shalarakha opened #90 "Updating Failed error"
Hi

Have been using the plugin for a while and it's a lifesaver!

More recently it has stopped working for me and I get the error 'updating failed' whenever I link to another site. Any workarounds for this?

Thanks!

[2019-09-04 14:20] ed-richards commented on #76
I'm also experiencing this issue. Adding or editing custom links on Pages works without a problem but on all custom post types, the editor brings up the following message after trying to Publish/Update with a custom link:

![Screenshot 2019-09-04 at 15 16 59](https://user-images.githubusercontent.com/17625524/64263231-36b4bf00-cf27-11e9-85fa-bf91889a1c89.png)

The error itself is the same as pcdoc

[2019-09-04 14:27] roryashfordbentley commented on #76
@ed-richards I have also just noticed its specific to Custom Post Type posts. Could it possibly be down to they way the post type has been setup?

Here is my config if it helps at all:

[code]

[2019-09-05 19:45] jaybarad opened #91 "can not save custom link in my post type"
when I try to save or edit my post type with adding a custom link it will not save that custom link all other thing relates to post type was saved but the custom link remains blank. please help me what I am wrongdoing in it. I am using your latest version plugin and WordPress version was latest. If I am saving to post and pages it will work no issues in it but if I add in post type then it will no

[2019-09-14 16:05] pedromiguelmartins opened #92 "Javascript error on Editor Role"
Hi!
I have a error in using your plugin. What is happening is that I am editing an article in with a Role Editor, I have permanently a JavaScript error that I transcribe. This error does not arise when I am with Role administrator.

This JavaScript error is preventing other plugins from working. Can you help?

[2019-09-15 19:59] markjaquith commented on #92
Thanks for your report! I’ll look into this.

[2019-09-17 19:53] rgoarias commented on #76
Same issue here. It seems that the error happens in custom post types and using Gutenberg. Maybe there is some necessary setting in the register post type to avoid the error @markjaquith?
Thanks

[2019-10-12 14:53] claytoncollie commented on #43
Hi Mark, any progress on adding this functionality? Really appreciate your work and this plugin.

[2019-10-17 17:47] icanbury commented on #92
I want to second this.  I'm experiencing this as well when logged in as Author.

[2019-11-02 08:39] pedromiguelmartins commented on #92
Hi Mark!
Have you had a chance to verify this error?

[2019-11-07 17:02] xpec-rojas opened #93 "Cannot read "links_to" of undefined"
If I enable this plugin in gutenberg and add an external links, then the editor get broken and shows me:

![image](https://user-images.githubusercontent.com/30267047/68410223-6619bf00-0156-11ea-98e6-020e48e5669c.png)

![image](https://user-images.githubusercontent.com/30267047/68410161-48e4f080-0156-11ea-8884-87c6cac0e9b9.png)

WordPress 5.2.4

[2019-11-18 10:16] pedromiguelmartins commented on #92
Hey Mark! Thanks for the fixing. Excellent work.

[2019-11-18 10:16] #92 closed

[2019-11-18 18:12] markjaquith commented on #92
@pedromiguelmartins great! Thanks for verifying the fix.

[2019-11-18 18:13] markjaquith commented on #93
@xpec-rojas I believe this error should be fixed now. Can you confirm?

[2019-11-18 18:13] markjaquith commented on #91
@jaybarad Do you still experience this issue with the latest version?

[2019-11-18 18:14] markjaquith commented on #85
The latest release of the plugin groups those components together. Thanks for the report!

[2019-11-18 18:14] #85 closed

[2019-11-18 18:15] markjaquith commented on #83
The latest release should fix this issue!

[2019-11-18 18:15] #83 closed

[2019-11-18 18:15] markjaquith commented on #79
@shokkky8808 Are you still having this issue?

[2019-11-18 18:16] markjaquith commented on #90
@shalarakha Are you still experiencing this issue with the latest release?

[2019-11-18 18:21] shokkky8808 commented on #79
Nop. ThxJavier Fernández M.+34 607 785 485
-------- Mensaje original --------De: Mark Jaquith <notifications@github.com> Fecha: 18/11/19  19:15  (GMT+01:00) Para: markjaquith/page-links-to <page-links-to@noreply.github.com> Cc: shokkky8808 <javiercfm@gmail.com>, Mention <mention@noreply.github.com> Asunto: Re: [markjaquith/page-links-to] I does not work with WP 5.2.2 (#79) @shokkky8808 Are you sti

[2019-11-26 17:47] hazuremon commented on #76
With the latest Page Links To version: 3.2.1

Still having issue where the entered permalink did not get save nor display in the Custom Permalink box in custom post type. There is no error message though, with the latest update.

[2019-12-04 01:23] schuette opened #94 "PHP 7.4 error"
Just updated to PHP 7.4 and getting this error: "Notice: Trying to access array offset on value of type bool in ... /classes/plugin.php on line 725"

[2019-12-06 19:17] bourn404 commented on #66
I'm running into the same issue.  I like to write an excerpt using Elementor to show up in my blog feed and then link to an external site.  Because of this issue I have to remove the link from the input box, uncheck the 'Custom Permalink' option box, and publish changes before I can use the Elementor editor.

[2019-12-11 19:29] Datnia commented on #91
@markjaquith Hi, I'm experiencing this issue as well. The plugin works with the default page and post types but not custom post types (currently using v3.2.1).

[2019-12-13 08:34] webdevid commented on #91
same with me.. work in post but not in CPT.. @markjaquith

[2019-12-13 12:01] Datnia commented on #91
@webdevid downgrading to v3.0.1 worked for me

[2019-12-16 18:33] brianpurkiss commented on #91
Saving a link is working for me on a custom post type that does not have Gutenberg enabled.

It doesn't work when I have the Gutenberg editor enabled.

[2020-01-03 16:49] claytoncollie commented on #77
Hey @markjaquith

Any progress on this ticket and/or the 2 others inside the [Later](https://github.com/markjaquith/page-links-to/milestone/3) milestone?

I think all three are related.

Should this issue be labeled for the later milestone?

[2020-01-03 19:38] #94 closed

[2020-01-03 19:40] markjaquith commented on #94
Thanks for the report, @schuette! I'm working on a bugfix release that should resolve this.

[2020-01-03 19:45] markjaquith commented on #80
Has this been resolved? It shows up for me for Posts in both Classic Editor and the Block Editor:

![Screen Shot 2020-01-03 at 2 44 54 PM](https://user-images.githubusercontent.com/353790/71745288-b13f0e00-2e37-11ea-923b-d502d26586b7.png)
![Screen Shot 2020-01-03 at 2 44 36 PM](https://user-images.githubusercontent.com/353790/71745289-b308d180-2e37-11ea-9488-47471ff87de0.png)

[2020-01-03 19:46] markjaquith commented on #93
@xpec-rojas Thanks for the report. I believe this was fixed. Please re-open if you're still experiencing this issue.

[2020-01-03 19:46] #93 closed

[2020-01-03 20:02] #91 closed

[2020-01-03 20:06] markjaquith commented on #91
Thanks for your patience everyone. I have a fix for this issue and it will go out in the next minor release.

I verified an issue where a custom post type has REST API support (and thus uses the Block Editor) but does not have `custom-fields` support. I was already adding `custom-fields` support for these posts types on the fly, but had neglected to do so when the REST API was initializing. So it

[2020-01-03 20:10] markjaquith commented on #84
I agree. I tried to take a minimalist UI approach and work it into the existing UI, but it turns out to have been too-clever. People expect plugins to add UI, not subtly change existing UI (there are exceptions, of course).

I'm going to work on moving it into its own panel.

[2020-01-03 23:26] claytoncollie commented on #65
I think you are looking for this filter.

https://github.com/markjaquith/page-links-to/blob/master/classes/plugin.php#L493

[2020-01-08 17:16] claytoncollie commented on #84
@markjaquith Checked out this branch and it looks on default Page and Post post types. I like this UI better as well in case the install has a mixture of Classic editor screens and Block editor screens. Allows the user to relate back and forth. I also like it in case any other linking options are added to the metabox.

[2020-01-16 23:54] ramiy commented on #65
Why using code when we can create a dashboard UI for this?.

[2020-01-22 19:52] naguibihelek opened #95 "Conflict with Thrive Themes Architect"
Some of my Thrive Themes pages can no longer be accessed to edit using Thrive Architect due to conflict with "Page Links To" plugin.
Please advise what we need to do in order to resolve this.
Thrive Themes support have checked and verified issue is not with their plugins.

Thanks in advance.
Nagui

[2020-01-23 14:28] markjaquith commented on #95
What is the error you are receiving?

[2020-01-23 17:13] naguibihelek commented on #95
Mark,

I found the issue. Thanks for your prompt reply.
I was trying to edit a page, using “thrive themes architect", that is redirected by “page links to". I guess we can’t do that.

Is this something that should work?
It was a natural assumption, because we can open and edit the page using Wordpress native editor.

Best regards,

Nagui Bihelek
Founder and CEO
Cell phone: +1.403.616.4087
AccuMatc

[2020-01-26 03:44] markjaquith commented on #95
I'm not familiar with Thrive Themes Architect, but from a little reading, it seems like it's a front-end editing experience. That's not going to work with this plugin, because when you've pointed a piece of content to another URL, you can't "visit" that content on your site anymore without being redirected. So what's probably happening is that you're trying to edit it with Architect, which tries t

[2020-01-26 04:04] markjaquith commented on #66
Thanks for this report! What's happening is that Elementor is trying to load the post, which of course Page Links To is trying to redirect to the URL you specified. But I found a way to identify that Elementor is loading the post, and blocking the redirect in that specific case. This fix will be in the next release of the plugin.

[2020-01-26 14:53] #66 closed

[2020-01-26 14:53] #78 closed

[2020-01-26 15:21] naguibihelek commented on #95
Ok. Thanks Mark.

Best regards,

Nagui Bihelek
Founder and CEO
Cell phone: +1.403.616.4087
AccuMatch Behavior Intelligence

"Continue to be amazing, not in just who you are, in what you do.
No one can see who you are, but they sure see what you do.”

Schedule time with me:
http://accumatchbi.com/schedule-time-nagui/

websites: https://accumatchbi.com, https://naguibihelek.com
On Jan 25, 2020, 8:45

[2020-01-26 16:52] #84 closed

[2020-01-26 17:19] #72 closed

[2020-01-26 17:22] markjaquith commented on #76
Can you all please try version 3.2.2? I made some changes to the custom post type handling to fix this.

Basically the issue is that if you don't register your post type with right type of support, it can't save post meta via the REST API which is required with Gutenberg.

I made a change to "on the fly" add support for post meta if necessary.

[2020-01-26 17:22] markjaquith commented on #81
Hi, this error should be fixed now!

[2020-01-26 17:22] #81 closed

[2020-01-26 17:24] #79 closed

[2020-01-26 17:24] #80 closed

[2020-01-26 17:28] #95 closed

[2020-01-27 10:23] gcluley commented on #67
Seconding this request.  Adding rel="noopener" or rel="noreferrer" to target="_blank" links avoids some security issues.

https://web.dev/external-anchors-use-rel-noopener/

[2020-01-27 15:27] markjaquith opened #99 "Add rel="noopener" to links that open in a new tab"

[2020-01-27 15:34] markjaquith commented on #67
@gcluley Adding `rel="noopener"` is no problem — I can do that with JavaScript. I've opened issue #99 to track that. Thanks!

Adding `rel="noreferrer"` is tricker. Yes, I can also do that with JavaScript, but I'm not entirely sure if search engines will "honor" it. Because if they looked at the original source, there would be no `rel="noreferrer"`... it would get added on page load by JavaScript.

[2020-01-27 15:36] gcluley commented on #67
Cheers Mark!

[2020-02-10 04:59] markjaquith opened #100 "New Tab functionality does not work for link that contain other HTML, and load late"
If you have content that loads asynchronously, and contains HTML within a link, it will not open in a new tab, even if you have specified that it should.

e.g. This HTML loads AFTER the page has loaded (like from an infinite scroll):

[code]

When the click event comes through the event is on the `h2`, not the `a`.

Solution: use `element.closest('a')` to find the parent link element.

Reported he

[2020-02-10 05:54] #100 closed

[2020-02-13 01:19] markjaquith commented on #60
This should be fixed in version 3.3.0

[2020-02-13 01:19] #60 closed

[2020-02-17 18:51] issuereporter1 opened #101 "OnClick console error on every page"
After updating to 3.3.1 I am running into the following JS error.  It is not a blocker for my site at this time, however JS errors like this can cause strange behavior so I want to report it.

/wp-content/plugins/page-links-to/dist/new-tab.js?ver=3.3.1

[code]

[2020-02-18 15:57] demaier commented on #101
Same behavior seen here.

https://wordpress.org/support/topic/latest-version-plugin-conflict/

[2020-02-18 17:11] markjaquith commented on #101
Thanks all! I just pushed v3.3.2 with a fix.

[2020-02-19 09:49] marco-torretta commented on #67
@markjaquith what about rel=nofollow?

Also, could it be possible to add checkboxes for rel=noopener and rel=nofollow when defining an external link in a post? This way one should have options to change external link rules individually.

[2020-02-28 10:39] earwickerh commented on #76
Hi @markjaquith, I'm still having this issue with custom post types not allowing me to save a custom link on version 3.3.2. It's only custom post types though, everything else works. In your most recent comment you said " if you don't register your post type with right type of support, it can't save post meta via the REST API ".  I tried activating all the types of supports to no avail. I noticed

[2020-02-28 12:58] ace-hellas commented on #101
After upgrading to 3.2.2 version the following error appears on click in every page

char:1992
object does not support property or method "closest"
https://www.scadapro.com/wp-content/plugins/page-links-to/dist/new-tab.js?ver=3.3.2

[2020-02-28 14:09] markjaquith commented on #101
@ace-hellas Using Internet Explorer?

[2020-02-28 17:10] ace-hellas commented on #101
Yes. I have pages included inside a windows software and the default browser is IE.

[2020-02-28 17:28] markjaquith commented on #101
@ace-hellas thanks for the reply! Working on a fix for IE right now.

[2020-02-28 17:48] #101 closed

[2020-02-28 18:50] earwickerh opened #102 "Can't save in URL in Custom Post Types(editor conflict)"
Hi @markjaquith,I'm not able to use your plugin on custom post types on version 3.3.2. When I try and save the url value, the page reloads and the information disappears.  I don't mean to double post but I'm not getting any errors in the console contrarily to the other bug someone mentioned.
This only happens in custom post types though, everything else works.
In a comment on a related but potenti

[2020-02-28 19:50] psorensen commented on #102
@earwickerh Can you confirm that your custom post type supports the REST API?

This code should output whether your CPT has rest support.

[code]

see https://developer.wordpress.org/rest-api/extending-the-rest-api/adding-rest-api-support-for-custom-content-types/ for more info on rest support for CPTs

[2020-02-29 03:16] markjaquith commented on #102
@earwickerh can you share your CPT registration code? Are you having this issue with classic editor or block editor or both?

[2020-02-29 16:54] markjaquith commented on #101
@ace-hellas I released version 3.3.3 which I've verified does not throw JS errors in IE 9.

IE 8 is... just not happening.

[2020-03-01 20:17] markjaquith commented on #102
I tried with two CPTs like so:

[code]

One supports classic editor only. The other turns on `show_in_rest` which enables the block editor. Page Links To shows up and works properly for both types.

Both types have `editor` support enabled.

@earwickerh what are you doing differently? Can you try with my test CPTs above and see if it works? And again, if you can share your CPT registration code th

[2020-03-13 07:26] E-VANCE commented on #101
Hey Mark,

I am seeing the error for Mobile Safari UI/WKWebView 12.1.4 as well:

`TypeError: Object doesn't support property or method 'closest'`

Traceback says: `https://christian-sander.net/wp-content/plugins/page-links-to/dist/new-tab.js line 1 col 14888 in o`

Haven't seen it for other browsers (yet), updated the plugin to 3.3.3 yesterday.

Kind regards!

[2020-04-04 15:25] rodrigo-arias commented on #76
Hi @markjaquith I have tried with version 3.3.3 and indeed the issue is no longer there. I do not receive any error. However, I have fallen into this #102.
Everything works in the classic editor or in Gutenberg in pages and posts, but I cannot save the redirection URLs in my CPTs. I have tried enabling `show_in_rest` and making sure of the `editor` support but that did not work. Thanks

[2020-04-16 13:55] natanaelsinisalo opened #106 "Symbol.iterator polyfill in src/new-tab.js breaks Symbol in IE11"
Hi @markjaquith and thanks for the great work on this plugin 🙂

I just spent a few hours on squishing a weird IE11 bug that seems to be caused by this plugin. And more specifically the Symbol.iterator polyfill found in the [src/new-tab.js](https://github.com/markjaquith/page-links-to/blob/master/src/new-tab.js) file.

By loading only the iterator polyfill (`import 'core-js/features/symbol/iterator

[2020-04-16 22:02] markjaquith commented on #106
@natanaelsinisalo Thank you so much for your thoughtful note. I burned a ton of time sorting out IE issues, and it probably shouldn't be surprising that my best efforts here yielded downstream woes (ugh, I feel your pain).

I think I'll take your fix for now, but yeah, I definitely agree that bundling polyfills isn't a great solution. Ironically, the whole reason I'm in this mess is because I rewr

[2020-04-18 15:33] dvisan commented on #67
any plans to add rel="nofollow" in future version?

[2020-04-21 04:17] lendrise opened #107 "remove a link created with page-links-to"
hi. can you please tell me how i can remove a link created with your plugins? it doesn't work properly for me. thanks

[2020-04-30 05:19] edvinkuric commented on #76
Hey @markjaquith,
i have the same issue like @rodrigo-arias - i cannot save custom-urls on CPTs with Gutenberg-editor, using the "show_in_rest"-flag and "editor"-support when registering the CPT.
The same behvaiour is given when adding new posts as well as editing existing posts (CPT).

Tested with plugin-version 3.3.3 and current WP.

If you need help fixing this issue, i can maybe take a look -

[2020-04-30 05:34] edvinkuric commented on #102
Hey @markjaquith, i have the same issue - i used the following configuration to create the custom post type:

/* Custom Post Type-Function*/
function create_posttype($key, $name, $singularName, $capability_type = 'post')
{
    register_post_type($key,
        // CPT Options
        array(
            'labels' => array(
                'name' => __($name),
                'singular_name' => __($sin

[2020-05-05 11:18] natanaelsinisalo commented on #106
Totally forgot to reply you back 🙈

If my opinion weights anything, I'd just remove the IE support altogether. I know Microsoft is still supporting IE11 until the end of 2025, but we as a developers can play our part of killing it earlier by just not supporting it any more. [Like YouTube did with IE6](https://www.theverge.com/2019/5/4/18529381/google-youtube-internet-explorer-6-kill-plot-engineer)

[2020-05-05 13:53] markjaquith commented on #106
If you send a PR I’ll get it handled today.

[2020-05-10 16:55] ruimartinsptl opened #108 "Does not work with translations"
I want to use external links, but I can't translate the links with translatepress, can you support that?
For exemple, I want that link can be xxx_EN.pdf or xxx_PT.pdf for same post.
Thanks

[2020-05-18 13:17] leonardop21 opened #109 "Add class to external link"
Is there a hook that I can use to add a class when the link is external? I would like to style the card when the link is redirecting out of my site

[2020-05-20 02:42] markjaquith commented on #109
@leonardop21 You can use CSS selectors to target external URLs.

See this guide for more info on how to write the selectors:

https://davidwalsh.name/external-links-css

[2020-05-20 02:42] #109 closed

[2020-05-25 14:17] natanaelsinisalo commented on #106
Sure, and sorry for the delayed reply again. Had a few really busy weeks.

I've now made a pull request https://github.com/markjaquith/page-links-to/pull/110 to solve this issue.

[2020-05-26 16:38] sergei-lobanov commented on #102
Hi @markjaquith
I have the same issue I'm using Elementor, but it doesn't work for default WP editor as well.

Not sure how to fix it, I found only your plugin with support of opening links in a new windows...
Please have a look when you have a time.

[2020-05-28 17:48] thomas-michaud opened #111 "Addressing accessibility for opening a New Tab"
It would be helpful for Accessibility to add in text (readable by screen readers) if a Custom URL is selected to **Open this link in a new tab**.

- Add in a `span` element after the anchor tag
- The class could use WordPress' built in `.screen-reader-text`

Example:
`<a href="https://another.site.example.com/whatever" target="_blank">Page Name</a><span class="screen-reader-text"> (opens in a new

[2020-06-03 17:42] MadtownLems commented on #107
While editing the post/page, use the "Page Links To" to set the content to "its normal WordPress URL".

[2020-06-03 17:43] MadtownLems commented on #68
How would you imagine this could work? The entire point of the plugin is to direct people somewhere else INSTEAD of the page/post.

[2020-06-03 17:49] MadtownLems opened #112 "Trying to get property 'ID' of non-object: page-links-to/classes/plugin.php:661"
My error log is pretty full with instances of the following notice.

It comes from this line:
$meta_link = self::get_link( $post->ID );

I'm not sure exactly what causes. I could try to dig deeper, but thought you might have a better idea (or just add some checking that $post is in fact a post object before proceeding).

Let me know your thoughts please!

[2020-06-03 17:51] MadtownLems commented on #65
If every tweak-able functionality of every plugin used a custom dashboard UI for controlling settings, the dashboard would be a mess.

Additionally, using filters instead of dashboard UIs make it a lot easier for people running MultiSite to control functionality across a network of sites.

[2020-06-23 09:58] meszarosrob opened #114 "URL not saved for CPT and Gutenberg because early meta key registration"
The custom URL is not saved for a CPT that is registered after the `init` hook.

## Steps to reproduce

1. Spin up a fresh WP install
2. Install Page Links To plugin
3. Create a Twenty Twenty child theme and activate it
4. Register a new post type from the child theme
5. Set up a custom URL for the custom post type

`$post_type_names` value with Xdebug: https://dsc.cloud/6455b1/TfCd9H5ogxRO.png

📹

[2020-06-23 10:55] meszarosrob commented on #114
Meanwhile, this can be solved by registering the meta keys manually for the CPT.

[code]

`page_links_to_init` is a hook provided by the plugin. I'm using that, so I can get access to meta key constants.

[2020-06-24 14:41] johnpennypacker commented on #102
I think this is related to execution order.  The register_hooks() method (Line 191 of classes/plugin.php), tries to register meta fields to all CPTs, but it actually only registers fields to CPTs that have been registered so far.  It executes before my init action `uri_cpt` executes, so my CPTs never get the memo about the meta fields. I presume that if init priority is equal, execution order is a

[2020-06-24 15:04] edvinkuric commented on #102
@johnpennypacker that's true, I ended up with setting the third argument to '0', so that shouldn't be a problem for now.

[2020-07-05 11:07] chris0200 opened #116 "Post not linking to external site"
Hi Mark,

Installed the plugin, written posts, added custom url and selected open in new page. Published the post but when I go to the post page there is not a link to the external url in the title of the post or anywhere.

When looking at the post in edit it is showing both the permalink and the external url.

https://taagroup.co.uk/the-planners/

Any ideas appreciated.

[2020-07-06 21:42] rr-d-rr opened #117 "WP Bakery Page Builder 6.2.0 & Page Links To 3.3.3: Post Grid & Grid Builder Open in New Tab Doesn't Work"
Hi @markjaquith,

Your plugin is great and I've been using it for quite some time now. I've never had an issue with it until I started to work with the Post Grid and Grid Builder page elements with the WP Bakery Page Builder (v6.2.0). The posts for that are affected have a URL entered, "Open this link in a new tab" checked as shown in the attached image.

I've gone through the process of:

- Deact

[2020-07-08 08:40] chris0200 commented on #117
Same here as per my post. Hopefully Mark can come up with a solution.

[2020-07-20 19:15] ukmgranger commented on #114
I have the same problem.  Not managed to fix it yet with my rubbish coding.

[2020-07-23 00:07] #114 closed

[2020-07-23 00:12] markjaquith commented on #112
This is odd. Something must be calling a filter but not passing the required data. Probably another plugin doing something wrong, but I can just make my code a little bit more defensive, such that it bails if it doesn't get a post, as expected.

[2020-07-23 00:19] #112 closed

[2020-07-23 00:25] markjaquith commented on #111
Good idea! I think I'm going to use `aria-label` for this, which is I believe what Gutenberg ended up doing.

[2020-07-23 00:32] #111 closed

[2020-07-23 00:37] markjaquith commented on #116
It looks like you haven't linked this post anywhere. Are you sure this is the post you told Page Links To to point externally?

![Screen Shot 2020-07-22 at 8 36 13 PM](https://user-images.githubusercontent.com/353790/88242387-ff442380-cc5a-11ea-9f81-289ff780768a.png)

[2020-07-23 00:38] markjaquith commented on #106
Finally got this merged in a bug scrub. Will be in the next release. Thanks again!

[2020-07-23 00:38] #106 closed

[2020-07-23 00:40] #107 closed

[2020-07-23 00:42] markjaquith commented on #67
I'm working on an expansion plugin that'll handle additional features like this.

[2020-07-23 00:42] #67 closed

[2020-07-23 01:23] markjaquith commented on #102
I'm going to move that registration to init:9999 and also do it again at rest_api_init:9999 to catch any stragglers.

[2020-07-23 01:23] #99 closed

[2020-07-23 01:23] #102 closed

[2020-07-23 01:24] #90 closed

[2020-07-23 01:29] markjaquith commented on #117
@rr-d-rr @chris0200 I don't have access to "WP Bakery Page Builder" — could one of you e-mail a zip file of the plugin to `mark AT jaquith DOT me` so I can try to debug this issue?

[2020-07-23 01:38] markjaquith commented on #70
I don't see an issue here.

[2020-07-23 01:38] #70 closed

[2020-07-23 01:39] markjaquith commented on #65
I'm working on an add-on plugin that'll contain extra functionality like this. I don't want to overburden this humble plugin.

[2020-07-23 01:39] #65 closed

[2020-07-23 13:57] rr-d-rr commented on #117
Hi Mark,

Not a problem. I just sent you a link to download the plugin. Let me know if there is anything else you might need.

Thanks!
Rami

[2020-08-31 13:21] natanaelsinisalo commented on #106
You're welcome! :)

[2020-09-08 08:16] Dominik-360 commented on #117
Hi @markjaquith,

have you already found time to find the bug? I have the same problem that the links do not open in a new tab.

Thanks for your work!

[2020-09-16 14:39] MadtownLems opened #120 "Some use cases for the return of making some redirects be optionally 302"
Hiya,

In our brief Twitter exchange, you asked why we were hoping to see the return of an option to make some redirects be 302 (temporary) instead of 301 (permanent).

I can present three specific cases that happened in our department recently, but it really just comes down to the fact that sometimes you only want to send visitors somewhere specific as a temporary measure - or WHERE you want to s

[2020-09-28 01:33] wildfire20uk opened #121 "Is it possible that this plugin is vulnerable to a redirection attack?"
Hi Mark,

I'm working on a cyber incident where a client is suffering a repeated redirection type attack and I am wondering if there is any chance that this plugin is the issue? It's unlikely but I'm trying to cover all the bases.

Please get in touch.

[2020-09-28 04:43] markjaquith commented on #121
Unlikely. It only redirects to the URLs that the publisher has specified. There's no way for an attacker to use this plugin to redirect someone to an arbitrary URL.

[2020-09-28 05:15] wildfire20uk commented on #121
Thanks, looks like another plugin that's the issue, thanks for the response
anyway. Please closed/delete the issue.

On Mon, 28 Sep 2020, 17:43 Mark Jaquith, <notifications@github.com> wrote:

[2020-10-01 17:54] #121 closed

[2020-10-05 16:49] MadtownLems opened #122 ""Copy Short URL" -> "Copy Original URL" ?"
I was a bit confused by the "Copy Short URL" that shows up when you hover over a post using Page Links To in the dashboard. Am I missing something, or would this be better off being labeled: "Copy Original URL"?

I expect a "short url" to be something like: x.yz/abc123 , and at least for us, the "short url" is actually longer than the redirected to URL approximately half the time.

[2020-10-05 20:03] markjaquith commented on #122
Yeah. It depends on how long your domain is and how long the thing you're linking to is. I guess the main point is that this is a URL on your site... so that you can, say, include it in an email or a social campaign and it looks more "on brand." Maybe "Original URL" is the way to go. I'll give it some more thought!

[2020-10-05 20:09] MadtownLems commented on #122
Awesome. Just for some more examples of how people are using it, a lot of our users don't just use it to link off to another site. They use it to link a post to an instance of a custom post type that isn't included in the standard loop, for example.  Perhaps a post such as "Just announced: the 2020 Whatever Symposium!" and have that post show up on the blog and in feeds, but following the link tak

[2020-10-06 05:33] ChachieP opened #123 "Thrive Architect loads forever when this plugin is enabled"
We use Thrive Architect to build pages on our site, and the Thrive Architect editor keeps on loading forever while your plugin is enabled: [here is what it looks like](https://www.loom.com/share/4a53d995c3c24b6b9972c3c8053e6f99)

We are temporarily disabling the Page Links To plugin for now while we edit some content, but we still need to use this plugin in the future. Could you please look into t

[2020-10-07 16:36] ChachieP commented on #123
Hey @markjaquith just bumping this up in case you haven't seen it yet. Hope we find a resolution to this issue, it's pretty much hindering us from editing the page on the back end!

[2020-10-09 21:40] pjoulot opened #124 "cws_links_to seems missing from the export"
Hi,

I am currently migrating a website from Wordpress to Drupal and the existing wordpress website is using the page links to plugin.
When I export the xml of the wordpress website, I cannot find any trace of the "cws_links_to" data that is saved into the posts.

I would have thought that wordpress would export this automatically but apparently not. It would be a great feature to have if you want

[2020-10-22 17:39] markjaquith commented on #120
Yep, you make a good points! I might implement this as hidden-by-default but make it opt-in, the same way you can opt out of the "new tab" feature and its UI. I'm loath to add a settings screen to the plugin, and also to clutter the UI too much by default. I did a survey and people overwhelmingly didn't want the core plugin to become too heavy.

[2020-10-23 14:08] MadtownLems commented on #120
Totally agree with loathing a settings page. In our environment, I have written many a custom-plugin to hide the settings page for plugins. ("You needed a custom, top-level settings page to choose the color of part of the UI, really?")

Happy to help test or provide feedback before/after release. You know where to reach me. :)

Thanks again for maintaining the plugin - we use it a lot!

[2020-10-29 15:21] simokron opened #126 "Wordpress 5.5.1 Compatibility"
Dear Mark,

I recently (and perhaps foolishly) updated our website to Wordpress 5.5.1 before you indicated this plugin was compatible. This seems to have led to some issues with the previously set up external links, when the post type is "link".

**Steps to reproduce:**
1. Create a new post linking to a custom URL.
2. Make sure the post type is set to "link".
3. Go to your website and click on the

[2020-10-29 15:22] simokron commented on #126
I spoke too soon. It appears this issue is unrelated to your plugin. Apologies for the confusion.

[2020-10-29 15:22] #126 closed

[2020-12-09 14:34] MadtownLems opened #127 ""Updating failed. Could not delete meta value from database.""
I'm finally getting around to exploring moving to the Block Editor, and I ran into the following problem when testing Page Links To.

"Updating failed. Could not delete meta value from database."

Steps to reproduce the issue:

1) Edit an existing page that is not currently using Page Links To.
2) Click the radio for "A custom URL"
3) Click the radio for "Its normal WordPress URL"
4) Click 'Update

[2020-12-13 19:39] daisypeel opened #129 "jQuery needs to be updated for WP 5.6 Compatibility"
wp-content/plugins/page-links-to/dist/meta-box.js: jQuery.fn.change() event shorthand is deprecated
wp-content/plugins/page-links-to/dist/quick-add.js: jQuery.fn.click() event shorthand is deprecated
wp-content/plugins/page-links-to/dist/quick-add.js: jQuery.isFunction() is deprecated
wp-content/plugins/page-links-to/dist/quick-add.js: jQuery.fn.scroll() event shorthand is deprecated
wp-content/pl

[2020-12-15 18:41] markjaquith commented on #129
@daisypeel Hmm, I'm not seeing this. I think some plugin (or your theme) is injecting a newer version of jQuery than WordPress has. I'll try to see if I can work around this issue, but you're likely to experience other issues in WordPress if something else is overwriting `jQuery`.

[2020-12-15 21:41] daisypeel commented on #129
Thanks for the response :)

Daisy

Daisy Peel
daisy@daisypeel.com
www.daisypeel.com

On Tue, Dec 15, 2020 at 10:42 AM Mark Jaquith <notifications@github.com>
wrote:

[2020-12-23 05:36] markjaquith commented on #123
@ChachieP Are you able to send me a copy of the Thrive Architect plugin to use for testing this bug? `mark` at `jaquith.me` please.

[2021-01-04 07:05] jquinn33 opened #131 "External links not opening in new tab"
Hi! We love the "Page Links to" plugin. Thank you!

We are using this on a blog and it seems to work perfectly with opening the specified link in a new tab, but when we click a pagination button to view more articles in the blog, the newly displayed articles open in the same tab rather than a new tab.

Thank you for any assistance!

[2021-01-04 17:50] markjaquith commented on #131
@jquinn33 Can you provide me an example page with a "new tab" link so I can investigate?

[2021-01-05 13:53] jquinn33 commented on #131
Thank you, Mark! I emailed you a link to our test page. Let me know if you didn't receive it.

Thanks again!

[2021-01-06 20:04] jquinn33 commented on #131
Any word on this at all? Thank you!

[2021-02-05 18:05] bjosie commented on #131
This plug-in is awesome, but I am having the same issue. You are a rockstar for making this, is it perhaps something I am doing wrong?

[2021-02-10 22:15] MadtownLems commented on #127
I'm typically pretty good at helping sort these issues out with other developers, but unfortunately, we're just getting into the Gutenberg stuff (hence how I even stumbled on this).

This is perhaps a little more info about the error (the response from the ajax call when trying to publish in the situation described again):

{"code":"rest_meta_database_error","message":"Could not delete meta value

[2021-02-17 02:56] chunte opened #132 "UTM getting stripped"
Hi there, thanks for this plugin.

Scenario:
Made "Page link" that to a PDF uploaded to my server (not with Wordpress)
https://actonkl.org/infopack  --->  http://actonkl.org/info-pack/ActonKL_InfoPack_v2020.pdf

The "Page link" works fine, until I just found out that the UTM codes never get registered with Google Analytics. It is as if the UTM codes are stripped away when redirected. Is this expec

[2021-02-23 21:04] dethfactor commented on #127
Running into the same issue for a client. Any ETA on a resolution?

[2021-02-26 02:39] myob9a opened #133 "WordPress v5.7 compatibility"
WordPress V5.7 is changing jQuery versions with consequences as there is no backward compatibility. jquery Migrate Helper tells me that Insert Pages, which I use a lot, will have a problem. Is this under review?

/wp-content/plugins/page-links-to/dist/quick-add.js

[2021-03-27 00:00] lwangdu commented on #133
Also I am seeing duplicate queries issue with WorPress 5.7. Could you update this plugin please?

[2021-03-27 00:10] lwangdu opened #135 "Duplicate Queries WordPress 5.7"
I am seeing duplicate queries issue on my site with query monitor. Could you please update the plugin?
LIMIT 1 /* From [newibiology.staging.wpengine.com/cell-biology/unfolded-protein-response/] in [/nas/content/staging/newibiology/wp-content/plugins/page-links-to/classes/plugin.php:475] */

Thank you,
Lobsang

[2021-04-30 13:06] grappler opened #138 "Exclude posts with links to from Yoast SEO sitemap"
As posts with links point to other pages or other sites, the links should not be included in the sitemap. Here is how I solved for Yoast SEO. This is more for information if anyone else is looking into this then a feature request. Though doing something like this for the new default WP sitemap may be an idea.

[code]

[2021-06-07 18:07] carolinatanigushi commented on #131
Hi! I'm having the same issue here. We're using a custom theme, currently running WP v. 5.7.2, version 3.3.5 of the plugin. If you need an example, please let me know. Thanks!

[2021-06-23 20:07] IlseO76 opened #146 "Page Links To no longer working - seems compatibility issue with WPML"
Hi Mark,

Somehow 'Page Links To' has stopped working on one of my sites for links to external pages, while it still works when I link a page to an internal page. It seems to be a conflict with WPML.

See https://www.moralmarkets.org/blog/page/2/?et_blog. The link from the post "Green Swans..." to an internal page still works, while the link from the post "Karl Marx..." to an external post no long

[2021-06-23 20:10] IlseO76 commented on #146
Thanks by the way for making this plugin available. I've been using it for years with great satisfaction, would be a real bummer if I cannot get it to work again.

[2021-06-28 10:41] IlseO76 commented on #131
Also having this problem! Happy to provide an example

[2021-06-28 10:44] IlseO76 commented on #146
Found a work-around in this post: https://wpml.org/forums/topic/strange-redirections-occuring-as-soon-as-wmpl-is-enabled/, namely:

Go to wp-content/plugins/sitepress-multilingual-cms/classes/query-filtering/class-wpml-query-parser.php, line no.280 and comment out following line:

1 | list( $q, $redir_pid ) = $this->maybe_adjust_name_var( $q );

[2021-06-30 15:50] daveherman71 opened #147 "Error in wp-admin when setting the URL to just a forward slash"
I have some pages on my site that I need to redirect to the home page (due to legacy SEO).

However redirecting to "/" causes an error in wp-admin.
[code]
This is the function where the error occurs:
[code]
My proposed fix is to first check the length of the string before checking if it is protocol-relative, as follows:
[code]

[2021-08-18 16:13] jenfloods commented on #127
I have this issue as well, using Gutenberg Block Editor (we also use Divi Builder but not on Posts?). The error for me is: "Updating failed. Could not update the meta value of _et_pb_use_builder in database". How do we resolve this issue?

[2021-09-05 15:57] sasel57 commented on #131
Hello, i am having the exact same issue. It opens in a new tab on the first view of the grid, but when clicking a pagination button, on the second view of the grid it open in the same tab. Some ajax incompatibility?

[2021-09-06 14:19] jquinn33 commented on #131
Still having the issue here on all of our sites. Please advise.

[2021-12-18 15:32] GodCodesGuru opened #151 "Conflict With Rank Math SEO? Or Somewhat Else?"
Hello

[2022-01-24 16:15] LukaszJaro opened #153 "page-links-to/dist/new-tab.js loads on every page"
Does the plugin use JavaScript to create redirects?

Thanks!

[2022-03-16 20:46] smccreedy opened #154 "new-tab.js Write error 23"
After upgrading to WordPress 5.9 we are seeing a write error (23)

[2022-04-06 21:14] #153 closed

[2022-05-05 15:44] rastitkac opened #156 "Target blank doesn't work on posts loaded via AJAX"
Hi there Mark,

We load some posts via AJAX like so:
[code]

Then we get the pemalinks as per usual (actually the same markup as for posts which are loaded normally):
[code]

In the posts that are loaded via AJAX target blank does not work.
The URL is correctly set to value we define backend, thought.

Is there anything we can do to make it work?

Thank you in advance and best regards,
Rasti

[2022-06-09 18:06] Dragonfighter0021 opened #158 "Could not rechange link"
Hello there,
so the issue is that I created a false link. Then I noticed the link was false so I tried to change it but it still links to the old link. Even If I try it without linking. So I deactivated it and tried it again but it still links to the false page. And to make it even worse, I deinstalled the plugin and it still links to the false page. I don't really get this. Luckily this was no im

[2022-10-05 23:45] vegasgeek opened #162 "All cpt entries automatically set to redirect"
WP Version: 6.0.2
Plugin version: 3.3.6

After installing the plugin, I opened entry in a CPT and edited the "Page Links To" to point to a new URL like so:

<details><summary>Screenshot</summary>

![Screen Shot 2022-10-05 at 4 40 16 PM](https://user-images.githubusercontent.com/367562/194183152-5a84d7e4-2ef8-4718-9c35-7d8b71be8e26.png)

</details>

I then noticed that all other entries in the CPT

[2022-10-20 15:58] scalpmonkey opened #163 "Delay before redirect"
Can we add a delay before the redirect kick in? May be even short loop animation on the post?
tnx

[2022-11-04 01:47] shaunw opened #164 "Option to disable for custom post types?"
Is there an option to disable for all/some custom post types?

[2022-11-14 18:05] MadtownLems commented on #158
I believe you're experiencing this because Page Links To uses a 301 redirect, which is permanent. Hence, your browser is remembering that "old URL" should go to "new URL", and it's cutting out the middleman and just taking you to new URL.

To confirm this is the issue you're experiencing, you could try visiting the old URL in a new incognito/private window and seeing if the problem persists there